{
  "plugins": ["wdio"],
  "extends": ["eslint:recommended", "plugin:wdio/recommended"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "evn": {
    "es6": true,
    "mocha": true,
    "node": true
  }
}
